.footer {
    padding: 5rem 0;
}
.bg-black {
    background-color: #000 !important;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
.text-center {
    text-align: center !important;
}
small, .small {
    font-size: 0.875em;
}
.contact-section .social {
    margin-top: 5rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
}
.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}
a {
    text-decoration: underline;
}
.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.text-primary {
    color: #64a19d !important;
}.mb-2 {
    margin-bottom: 0.5rem !important;
}